@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(252, 252, 252);
  border-radius: 14px;
  border: 1px solid rgb(252, 252, 252);
}

html {
  font-size: 16px;

  @media (min-width: 400px) and (max-width: 600px) {
    font-size: 18px;
  }

  @media (min-width: 600px) {
    font-size: 20px;
  }
}

.profile-image {
  width: 120px;
  height: 120px;

  @media (min-width: 400px) and (max-width: 600px) {
    width: 180px;
    height: 180px;
  }

  @media (min-width: 600px) {
    width: 267px; 
    height: 260px;
  }

  @keyframe 
}